.sdc-button {
  position: relative;
  overflow: hidden;
  padding: var(--space-xxs) var(--space-xxs);
  margin: var(--space-xxxs) var(--space-xxxs);
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: var(--space-xxxs) var(--space-xxxs) 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sdc-button:active {
  box-shadow: var(--space-xxxxs) var(--space-xxxxs) 0.5rem rgba(0, 0, 0, 0.3);
}
