.sdc-effect-ripple-container {
  background: rgba(0, 0, 0, 0);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .sdc-effect-ripple-container-item {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.75;
    background-color: #fff;
    animation: ripple 1000ms;
  }

  @keyframes ripple {
    to {
      opacity: 0;
      transform: scale(2);
    }
  }
}
