$breakpoints: (
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop (980 + (12 * 2)) <= container + gutters
  lg: 1012px,
  // Extra large screen / wide desktop
  xl: 1280px
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

    @media (min-width: $breakpoint) {
      @content;
    }
  }
}
