@import "./mixin";

:root {
  .sdc-primary {
    background: var(--color-primary);
    color: var(--color-primary-text);
  }

  .sdc-primary-light {
    background: var(--color-primary-light);
    color: var(--color-primary-text);
  }

  .sdc-primary-dark {
    background: var(--color-primary-dark);
    color: var(--color-primary-text);
  }

  .sdc-secondary {
    background: var(--color-secondary);
    color: var(--color-secondary-text);
  }

  .sdc-secondary-light {
    background: var(--color-secondary-light);
    color: var(--color-secondary-text);
  }

  .sdc-secondary-dark {
    background: var(--color-secondary-dark);
    color: var(--color-secondary-text);
  }

  .sdc-font-xs {
    font-size: var(--text-xs);
  }

  .sdc-font-sm {
    font-size: var(--text-sm);
  }

  .sdc-font-md {
    font-size: var(--text-md);
  }

  .sdc-font-lg {
    font-size: var(--text-lg);
  }

  .sdc-font-xl {
    font-size: var(--text-xl);
  }

  .sdc-font-xxl {
    font-size: var(--text-xxl);
  }

  .sdc-font-xxxl {
    font-size: var(--text-xxxl);
  }

  font-family: var(--font-family);

  --space-unit: 0.2em;

  @include breakpoint(sm) {
    --space-unit: 0.4em;
  }

  @include breakpoint(md) {
    --space-unit: 0.6em;
  }

  @include breakpoint(lg) {
    --space-unit: 1em;
  }

  @include breakpoint(xl) {
    --space-unit: 1.4em;
  }
}
